Xft.antialias:          1
Xft.hinting:            1
Xft.rgba:               rgb
Xft.hintstyle:          hintslight
Xft.lcdfilter:          lcddefault
! Urxvt specific settings
! Source Code Pro {Light,Medium,Bold,Black + It suffix}
URxvt*font: xft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true
URxvt*boldFont: xft:Source\ Code\ Pro\ Black:pixelsize=13:antialias=true:hinting=true
URxvt*scrollBar:  false
Urxvt*256-color:  true
URxvt.termName: xterm-256color
URxvt.visualBell: false
! fixes ctrl-shift ...?
URxvt.iso14755:   False
! Make links clickable
URxvt*perl-ext-common: default,matcher
URxvt*matcher.button:  1
URxvt*url-launcher:    /usr/bin/firefox
URxvt.depth:                32
! intensityStyles:true removes colors from commands like `ls`...
URxvt.intensityStyles: false
! ref: http://www.askapache.com/linux/rxvt-xresources/
URxvt*skipScroll:  true
URxvt*scrollWithBuffer:  false
! End urxvt settings

! Fade colors when a window is not in focus
*fading:                  15

! Solarized color scheme for the X Window System
! Solarized ref: http://ethanschoonover.com/solarized
! code ref: https://github.com/solarized

! user-override background with a less blue, darker color (base03,base02)
! solarized default: #define S_base03       #002b36
! solarized default: #define S_base02       #073642
#define S_base03        #011418
#define S_base02        #082027

#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

!! black dark/light
*color0:                S_base02
*color8:                S_base03
!! red dark/light
*color1:                S_red
*color9:                S_orange
!! green dark/light
*color2:                S_green
*color10:               S_base01
!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00
!! blue dark/light
*color4:                S_blue
*color12:               S_base0
!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet
!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1
!! white dark/light
*color7:                S_base2
*color15:               S_base3
! End solarized theme.
